* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

/* Navbar */

#header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: #72a5ae;
    height: 60px;
    align-items: center;
}

.lupa {
    color: white;
}

#logo {
    margin: auto 0;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 1rem;
    color: white;
}

/* Botão hamburger */

#btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
}

#hamburger {
    border-top: 2px solid;
    width: 25px;
    color: white;
}

#hamburger::after,
#hamburger::before {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#nav.active #hamburger {
    border-top-color: transparent;
}

#nav.active #hamburger::before {
    transform: rotate(135deg);
}

#nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}

/* Menu */

.menu {
    position: absolute;
    width: 100%;
    top: 60px;
    right: 0px;
    background: white;
    display: block;
    transition: 0.2s;
    height:0px;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    border-bottom: 5px solid #72a5ae;
    ;
}

#nav.active .menu {
    height: 92.4%;
    visibility: visible;
    overflow-y: auto;
}

.menu a {
    font-size: 1.3rem;
    text-align: left;
    text-decoration: none;
    padding: 10px 0px;
    display: block;
    margin: 0 1rem;
    left: 20px;
    color: #72a5ae;
}

.menu ul a {
    padding-left: 30px;
    font-size: 1.2rem;
}

.menu li {
    margin: 5px
}

.menu li a span {
    position: absolute;
    right: 20px;
    transition: .3s;
}

/* Setas menu */

.menu li a .seta-minha-biblioteca.girar {
    transform: rotate(90deg);
}

.menu li a .seta-leituras.girar {
    transform: rotate(90deg);
}

/* Ocultar e mostrar submenus */

.menu ul {
    visibility: hidden;
    overflow-y: hidden;
    height: 0px;
    transition: .3s;
}

.menu .itens-minha-biblioteca.mostra,
.menu .itens-leituras.mostra {
    visibility: visible;
    overflow-y: hidden;
    height: 100px;
    display: block;
}

/* Barra pesquisa */

.pesquisa {
    display:flex;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.8);
    height: 0px;
    transition: .3s;
    justify-content: space-between;
}

.pesquisa button {
    background: none;
    color: white;
    border: none;
    padding-right: 10px;
    visibility: hidden;
}

.pesquisa button.mostra {
    visibility: visible;
}

.barra-pesquisa {
    background: none;
    border: none;
    height: 100%;
    width: 90%;
    padding-left: 10px;
    color: white;
}

.barra-pesquisa::placeholder {
    color: white;
}

.pesquisa.mostra {
    height: 50px;
    width: 100%;
}

/* Conteudo principal */

.conteudo-principal h3 {
    margin: 20px 20px 0 20px;
    padding-top: 20px;
    color: #72a5ae;
}

.conteudo {
    text-align: center;
}

.conteudo h3 {
    margin-bottom: 20px;
}

/* Formulário cadastrar novo livro */

.form-background {
    background-color: #ececec;
    width: 95%;
    margin: 0 auto ;
    border-radius: .6rem;
}

#form-novo-livro div {
    display: block;
    margin: 20px auto;
}

#form-novo-livro div img{
    margin: 0px 20px 20px 20px;
}

#form-novo-livro div .input-file {
    border: none;
} 

#form-novo-livro div label {
    display: block;
    text-align: left;
    margin: 0px 0px 5px 20px;
    color: #72a5ae;
    font-weight: bold;
    font-size: small;

}

#form-novo-livro div select {
    width: 93%;
    height: 35px;
    border-radius: .5rem;
    padding-left: 10px;
}

#form-novo-livro div input {
    width: 90%;
    height: 35px;
    border-radius: .5rem;
    padding-left: 10px;
}

#form-novo-livro div input,
#form-novo-livro div select {
    border: 1px solid #72a5ae;
}

#form-novo-livro button {
    width: 93%;
    height: 40px;
    border-radius: .5rem;
    margin: 20px 0 20px 0;
    background: #32f75d;
    border: 1px solid #00b627;
    color: white;
    font-weight: bold;
    transition: .1s;
}

#form-novo-livro button:active {
    background: #00b627;
    border: 1px solid #32f75d;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

#form-novo-livro fieldset div {
    display: inline-block;
    margin: 0;
}

#form-novo-livro div #paginas {
    width: 80%;
}

#form-novo-livro div #ano {
    width: 80%;
}

/* Cards */

.cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    justify-content: center;
    justify-items: center;
    padding: 20px;
}

.card {
    border-radius: 0 0 .6rem .6rem;
    display: flex;
    flex-direction: column;
    width: 170px;
    position: relative;
}

.card .cover {
    border-radius: .6rem;
}

.card-content {
    color: white;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0));
    text-align: left;
    justify-content: center;
    justify-items: center;
    position: absolute;
    bottom: 0;
    width: 160px;
    border-radius: 0 0 .6rem .6rem;
}

.card-content  {
    padding: 5px;   
}

.card-content h6 {
    margin-top: 5px;   
}

.ver-mais {
    text-align: center;
    margin: 30px;
}

.ver-mais a {
    padding: 10px;
    font-weight: 600;
    border-radius: .6rem;
    color: white;
    background-color: #72a5ae;
    margin: auto 0;
}

/* Footer */

.footer-content {
    background: rgb(24, 24, 24);
    margin-top: 20px;
    width: 100%;
}

.content-card {
    color: white;
    text-align: center;
    padding: 20px;
    margin: auto;
}

.content-card i {
    color: white;
    padding: 10px;
    font-size: 40px;
}

.content-card h4 {
    color: white;
    padding: 5px;
}

.content-card #email {
    color: white;

}

.content-card p {
    display: block;
    color: white;
    font-size: 35px;
}

